header h1{
	text-align: center;
}
main{
	margin:0 auto;
	display: flex;
}
.header{
	padding: 0.5em 2em;
}
.header hr{
	display: none;
}
.content{
	padding: 1em;
}
address{
	overflow: auto;
}
#myphoto{
	margin: 0 auto;
}

address p span{
	margin-right: 1em;
}
/*不知道采用浮动布局算不算是一个比较好的方式*/
.WhenAndW{
	overflow: auto;
	margin-bottom: 0.5em;
}
.WhenAndW strong{
	float:left;
}
.WhenAndW span{
	float:right;
}