main{
	border-color: #eee;
	/*不得不说一句配色真的是一项艺术*/
	color: #787878;
}
.header{
	background-color: #65A4FA;
}
.WhenAndW span{
	color: #93A1A1;
}
h1{
	color:#ffffff;
}
strong{
	color: #434343;
}
h3{
	color: #e83015;
}
